 
 
 .header{
     
    padding: 20px 10px;
    overflow: hidden;
    background-color: rgb(61, 58, 58);
    border-radius: 15px;
  }
   

  
  header a {
    
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }
  header a.logo{
    font-size: 25px;
    font-weight: bold;
  }

.header-right{
float:right;
}
header a:hover{
  background-color: coral;
  color: white;
}

 body{
    background-color: rgb(102, 102, 102);
 }
  
.center{
  display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
border-radius: 15px;
 }

 h1 {
  text-align: center;
  
 }
 
ul {
  text-align: center;
  list-style-type: none;
margin: 0%;
padding: 0%;
}
ul li {
  color: black;
  margin: 5px;
}


h3 {
  text-align: center;
}
.paragraphe {
   font-size: larger;

  }